* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /*border: 1px solid black;*/

}

.block {
  margin: auto 10px;
}


.top-info {
  height: 42px;
  background: #31415b;
  border: none;
}

.btn-technomart {
  background: #ed3543;
  color: #ffffff;
  margin: 0 10px;
  height: 52px;
  text-transform: uppercase;
  font-size: 18px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 8px solid #b52833;
}

input {
  background: #31415b;
  color: #ffffff;
  width: 232px;
  border: none;
  margin-right: 10px;
}

.counts {
  color: #ffffff;
  margin: 0 10px;
  font-size: 14px;
  widows: 140px;
  line-height: 40px;
  border: none;
  display: block;
  float: right;
}

.btn-order {
  height: 42px;
  width: 150px;
  background: #62a63d;
  color: #ffffff;
  font-size: 14px;
  margin: 0 10px;
  border: none;

}

.header {
  height: 44px;
  float: left;
  border: none;
  /*padding: 50px 0;*/

}
h1 {
  color: #ed3543;
  text-align: left;
  /*padding-left: 52px;*/
  font-size: 12px;
  /*width: 300px;*/
  margin: auto 20px;
  border: none;
}

.btn-order {
  float: right;
}

.full-navigation {
  height: 278px;
  background: #f1f5f7;
}

.up-nav {
  width: 940px;
  margin: 0 auto;
  height: 60px;
  background: #31415b;
  border-bottom: 6px solid #293349;

}

.btn-nav {
  background: #31415b;
  color: #ffffff;
  height: 54px;
  border: none;

  padding: 0 30px;
  /*float: left;*/
  font-size: 14px;


}


.category {
  width: 962px;
  height: 520px;
  margin: 0 auto;

}

.top-row {
  height: 144px;
  width: 962px;
}
.cat {
  height: 122px;
  color: #ffffff;
  float:left;
  margin-top: 10px;
  margin-bottom: 10px;
}


.materials {
  background: #f6b12d;
}

.tools {
  background: #4aaede;
}

.technik {
  background: #cb79d1;
}
.discounts {
  background: #85d179;
}

.shipping {
  background: #f5b12d;
}

.choose-cat {
  width: 136px;
  height: 80px;
  float: left;
  margin: 20px 20px;

}

.choose-cat>p {
  font-size: 20px;
  line-height: 38px;


}

.icon {
  float: right;
  width: 80px;
  height: 80px;
  margin: 20px;
  text-align: center;
}

.icon>img {
  max-width: 100%;
  max-height: 100%;

}

.btn-cat {
  width:134px;
  height: 40px;
  /*ackground: #dd9f28;*/
  opacity: 0.7;
  text-decoration-color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;


}

.left-part {
  background-image: url(../img/picture.png);
  height: 264px;
  float:left;
  margin: 10px;
}

.man-toys {
  height: 105px;
  width: 620px;
  padding-top: 30px;
  padding-left: 30px;
}

.perf {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  /*line-height: 35px;*/
}

.description {
  font-size: 14px;
  color: #ffffff;
}

.btn-catalog {
  background: #ed3543;
  color: #ffffff;
  margin: 90px 30px 0 30px;
  height: 38px;
  width: 195px;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}

.right-part {
  float:left;
  margin: 0;
  width: 318px;
  height: 275px;
}

.donw-nav {
  height: 193px;
}

.bottom-info {
  height: 536px;
  width: 962px;
  margin: 0 auto;
  border: 1px solid black;
}

.services-detail {
  height: 522px;
  width: 962px;
  margin: 0 auto;
  border: 1px solid black;
}

footer {
  height: 158px;
  width: 956px;
  margin: 0 auto;
  padding-top: 45px;

}
.contacts-top {
  width: 270px;
  height: 58px;
  /*padding: 50px 0;*/
  float: left;
  border: none;
}

.telephone {
  width: 268px;
  height: 40px;
  border: 2px solid #ffffff;
  padding: 8px 0;

}

.tel {
  margin: 0 60px;
  color: #ed3543;
  font-size: 18px;
  border: none;
  text-decoration: none;

}
.block-adr {
  border: none;
}
.address {
  font-size: 10px;
  color: #31415b;
  border: none;
}

.btn-in {
  font-size: 18px;
  color: #31415b;
  background: #ffffff;
  height: 45px;
  width: 123px;
  margin-right: 10px;
  float: right;
  border: none;

}

.btn-up {
  font-size: 18px;
  color: #31415b;
  background: #ffffff;
  height: 45px;
  width: 148px;
  margin-right: 10px;
  float: right;
  border: none;
}
.wraper {
  width: 962px;
  height: 322px;
  margin: 0 auto;

}


.column2 {
  width: 140px;
}

.column3 {
  width: 220px;
}

.column4 {
  width: 300px;
}

.column8 {
  width: 620px;
}




.popular-vendors, .popular-items {
  height: 89px;
  width: 942px;
  margin: 0 auto;
  background-color:#f7f2ec;
  border: none;
}


.items {
  width: 962px;
  height: 338px;
  margin: 0 auto;
  /*border: 1px solid black;*/

}

.photo {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  background-image: url(../img/button_price.png);
  border: none;
  width: 140px;
  height: 38px;
  margin-bottom: 20px;
  margin-left: 40px;

}


.vendors {
  height: 408px;
  width: 962px;
  margin: 0 auto;
  border: none;
}

.vend {
  height: 144px;
  border: 1px solid  #e5e5e5;
  margin: 10px;
  float: left;
}

.card {
  height: 318px;
  border: 1px solid #e5e5e5;
  margin: 10px;
  float: left;
  background: #FFFFFF;
}

.popular {
  text-transform: uppercase;
  color: #32425c;
  display: block;
  float: left;
  font-size: 20px;
  margin: 32px 20px;
  border: none;
}

.btn-all {
  height: 38px;
  width: 250px;
  background: #ed3543;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  float:right;
  margin: 25px 20px;
}
